# Byte-compiled / optimized Python files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# IDEs and editors
*.sublime-project
*.sublime-workspace
.vscode/
.idea/
*.swp
*~

# Miscellaneous
*.log
*.pot
*.bak
*.sql
*.sqlite3
*.pyc

# PyInstaller
build/

# Custom
test.py
test.txt